<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UdemyWeb">
    <test name="Sign Up tests">
        <classes>
            <class name="com.udemy.SignUpTest">
                <methods>
                    <include name="signUpWithValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Login tests">
        <classes>
            <class name="com.udemy.LoginTest">
                <methods>
                    <include name="loginWithValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>